body {
  background-color: #f8e19c;
}

.carousel-item {
  height: 400px;
}

header nav a img {
  width: 40px;
}

.card-cardapio {
  background-color: #ffbc64;
  border: none;
  color: #000000;
}

.card-body .botoes {
  display: flex;
}

.card-body .comprar {
  width: 8rem;
}

.card-body button img, a img {
  width: 20px;
}

.card-body button, .alterar {
  background-color: #fb8947;
  border-color: #fb8947;
  color: #ffffff;
  font-weight: bold;
  margin: 0 4px;
}

.card-body button:hover, .alterar:hover {
  background-color: #f57830;
  border-color: #f57830;
  transition: 0.2s;
}

.jumbotron {
  background-color: #f8e19c;
  color: #3d3c3c;
}

footer {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  height: 50px;
  width: 100%;
  margin-top: 50px;
  position: fixed;
  bottom: 0;
}

footer p {
  padding: 0;
  margin: 0;
}

footer img {
  width: 20px;
}